#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h> // Modern Mouse/Pointing support

#define BASE 0
#define NAV  1
#define MSE  2
#define SYM  3
#define NUM  4
#define FUNC 5
#define MDIA 6

/ {
    macros {
        // Sends ` followed by Space
        m_tksp: m_tksp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp SPACE>;
        };

        // Sends ' followed by Space
        m_qtsp: m_qtsp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp SPACE>;
        };

        // Sends ~ followed by Space
        m_tlsp: m_tlsp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(GRAVE) &kp SPACE>;
        };
    };
};

/ {
    behaviors {

/* --- TailorKey HRM Behaviors for Toucan (42-key Matrix) --- */

        // Left Pinky
        hrm_lp: hrm_lp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <260>;
            bindings = <&kp>, <&kp>;
            flavor = "tap-preferred";
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        // Left Ring
        hrm_lr: hrm_lr {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <240>;
            bindings = <&kp>, <&kp>;
            flavor = "tap-preferred";
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        // Left Middle
        hrm_lm: hrm_lm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <230>;
            bindings = <&kp>, <&kp>;
            flavor = "tap-preferred";
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        // Left Index
        hrm_li: hrm_li {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <190>;
            bindings = <&kp>, <&kp>;
            flavor = "tap-preferred";
            quick-tap-ms = <300>;
            require-prior-idle-ms = <100>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        // Right Index
        hrm_ri: hrm_ri {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <190>;
            bindings = <&kp>, <&kp>;
            flavor = "tap-preferred";
            quick-tap-ms = <300>;
            require-prior-idle-ms = <100>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40>;
            hold-trigger-on-release;
        };

        // Right Middle
        hrm_rm: hrm_rm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <230>;
            bindings = <&kp>, <&kp>;
            flavor = "tap-preferred";
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40>;
            hold-trigger-on-release;
        };

        // Right Ring
        hrm_rr: hrm_rr {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <240>;
            bindings = <&kp>, <&kp>;
            flavor = "tap-preferred";
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40>;
            hold-trigger-on-release;
        };

        // Right Pinky
        hrm_rp: hrm_rp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <260>;
            bindings = <&kp>, <&kp>;
            flavor = "tap-preferred";
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40>;
            hold-trigger-on-release;
        };
        
        thumbs: thumbs {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
            flavor = "balanced";
            quick-tap-ms = <300>;
        };

    };
};

/ {
    combos {
        compatible = "zmk,combos";

        // å (aa) - Left O+E (Ring+Middle)
        combo_aa {
            timeout-ms = <40>;
            key-positions = <14 15>;
            bindings = <&kp RA(W)>;
            layers = <BASE>;
            require-prior-idle-ms = <100>;
        };

        // æ (ae) - Left E+U (Middle+Index)
        combo_ae {
            timeout-ms = <40>;
            key-positions = <15 16>;
            bindings = <&kp RA(Z)>;
            layers = <BASE>;
            require-prior-idle-ms = <100>;
        };

        // þ (thorn) - Left Top Row ' + , (Ring+Middle)
        combo_thorn {
            timeout-ms = <40>;
            key-positions = <2 3>;
            bindings = <&kp RA(T)>;
            layers = <BASE>;
            require-prior-idle-ms = <100>;
        };

        // ´ (Acute Accent) - Right T+N (Middle+Ring)
        combo_accent {
            timeout-ms = <40>;
            key-positions = <20 21>;
            bindings = <&kp SQT>; // Dead-key for International layouts
            layers = <BASE>;
            require-prior-idle-ms = <100>;
        };

        // ø (Norwegian oe) - Right H+T (Index+Middle)
        combo_no_oe {
            timeout-ms = <40>;
            key-positions = <19 20>;
            bindings = <&kp RA(L)>;
            layers = <BASE>;
            require-prior-idle-ms = <100>;
        };

        // ö (Icelandic oe) - Right H+N (Index+Ring) [Wide Skip]
        combo_is_oe {
            timeout-ms = <40>;
            key-positions = <19 21>;
            bindings = <&kp RA(P)>; // Correct AltGr binding for ö
            layers = <BASE>;
            require-prior-idle-ms = <100>;
        };

        // ð (eth) - Right Top Row C+R (Index+Middle)
        combo_eth {
            timeout-ms = <40>;
            key-positions = <7 8>;
            bindings = <&kp RA(D)>;
            layers = <BASE>;
            require-prior-idle-ms = <100>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
//  |  0  |         1          |         2          |         3          |         4          |         5          |   |         6          |         7          |         8          |         9          |         10         | 11 |
    &none  &m_qtsp              &hmr_lr RALT COMMA   &kp DOT              &kp P                &kp Y                    &kp F                &kp G                &kp C                &hmr_rr RALT R       &kp L                &none
    &none  &hmr_lp LGUI A       &hmr_lr LALT O       &hmr_lm LCTRL E      &hmr_li LSHFT U      &kp I                    &kp D                &hmr_ri RSHFT H      &hmr_rm RCTRL T      &hmr_rr LALT N       &hmr_rp RGUI S       &none
    &none  &kp SEMI             &kp Q                &kp J                &kp K                &kp X                    &kp B                &kp M                &kp W                &kp V                &kp Z                &none
                                                     &thumbs MDIA ESC     &thumbs NAV SPACE    &thumbs MSE TAB          &thumbs SYM RET      &thumbs NUM BSPC     &thumbs FUNC DEL
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
//  |  0  |         1          |         2          |         3          |         4          |         5          |   |         6          |         7          |         8          |         9          |         10         | 11 |
    &none  &kp LC(Z)            &kp LC(X)            &kp LC(C)            &kp LC(V)            &kp LC(LS(Z))            &kp LC(Y)            &kp LC(V)            &kp LC(C)            &kp LC(X)            &kp LC(Z)            &none
    &none  &kp LGUI             &kp LALT             &kp LCTRL            &kp LSHFT            &caps_word               &kp CAPS             &kp LEFT             &kp DOWN             &kp UP               &kp RIGHT            &none
    &none  &none                &kp LA(F4)           &kp LC(F4)           &kp ESC              &none                    &kp INS              &kp HOME             &kp PG_DN            &kp PG_UP            &kp END              &none
                                                     &none                &none                &none                    &kp RET              &kp BSPC             &kp DEL
            >;
        };

        mse {
            display-name = "MSE";
            bindings = <
//  |  0  |         1          |         2          |         3          |         4          |         5          |   |         6          |         7          |         8          |         9          |         10         | 11 |
    &none  &none                &kp RALT             &none                &none                &none                    &kp K_REDO           &kp K_PASTE          &kp K_COPY           &kp K_CUT            &kp K_UNDO           &none
    &none  &kp LGUI             &kp LALT             &kp LCTRL            &kp LSHFT            &none                    &none                &mmv MOVE_LEFT       &mmv MOVE_DOWN       &mmv MOVE_UP         &mmv MOVE_RIGHT      &none
    &none  &none                &none                &none                &none                &none                    &none                &msc SCRL_RIGHT      &msc SCRL_UP         &msc SCRL_DOWN       &msc SCRL_LEFT       &none
                                                     &none                &none                &none                    &mkp RCLK            &mkp LCLK            &mkp MCLK
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
//  |  0  |         1          |         2          |         3          |         4          |         5          |   |         6          |         7          |         8          |         9          |         10         | 11 |
    &none  &kp LS(LBKT)         &kp LS(N7)           &kp LS(N8)           &kp LS(N9)           &kp LS(RBKT)             &none                &none                &none                &kp RALT             &none                &none
    &none  &kp LS(FSLH)         &kp LS(N4)           &kp LS(N5)           &kp LS(N6)           &kp LS(EQUAL)            &none                &kp RSHFT            &kp RCTRL            &kp LALT             &kp RGUI             &none
    &none  &m_tlsp              &kp LS(N1)           &kp LS(N2)           &kp LS(N3)           &kp LS(BSLH)             &none                &none                &none                &none                &kp DQT              &none
                                                     &kp LS(N9)           &kp LS(N0)           &kp UNDER                &none                &none                &none
            >;
        };

        num {
            display-name = "NUM";
            bindings = <
//  |  0  |         1          |         2          |         3          |         4          |         5          |   |         6          |         7          |         8          |         9          |         10         | 11 |
    &none  &kp LBKT             &kp N7               &kp N8               &kp N9               &kp RBKT                 &none                &none                &none                &kp RALT             &none                &none
    &none  &kp FSLH             &kp N4               &kp N5               &kp N6               &kp EQUAL                &none                &kp RSHFT            &kp RCTRL            &kp LALT             &kp RGUI             &none
    &none  &m_tksp              &kp N1               &kp N2               &kp N3               &kp BSLH                 &none                &none                &none                &none                &kp SQT              &none
                                                     &kp DOT              &kp N0               &kp MINUS                &none                &none                &none
            >;
        };

        func {
            display-name = "FUNC";
            bindings = <
//  |  0  |         1          |         2          |         3          |         4          |         5          |   |         6          |         7          |         8          |         9          |         10         | 11 |
    &none  &kp F12              &kp F7               &kp F8               &kp F9               &kp PSCRN                &none                &none                &none                &kp RALT             &none                &none
    &none  &kp F11              &kp F4               &kp F5               &kp F6               &kp SLCK                 &none                &kp RSHFT            &kp RCTRL            &kp LALT             &kp RGUI             &none
    &none  &kp F10              &kp F1               &kp F2               &kp F3               &kp K_PP                 &none                &none                &none                &none                &none                &none
                                                     &kp SPACE            &kp TAB              &none                    &none                &none                &none
            >;
        };

        mdia {
            display-name = "MDIA";
            bindings = <
//  |  0  |         1          |         2          |         3          |         4          |         5          |   |         6          |         7          |         8          |         9          |         10         | 11 |
    &none  &bt BT_SEL 0         &bt BT_SEL 1         &bt BT_SEL 2         &bt BT_SEL 3         &bt BT_SEL 4             &none                &none                &none                &none                &none                &none
    &none  &bt BT_PRV           &bt BT_NXT           &none                &bt BT_CLR_ALL       &bt BT_CLR               &none                &kp C_PREV           &kp C_VOL_DN         &kp C_VOL_UP         &kp C_NEXT           &none
    &none  &bootloader          &sys_reset           &studio_unlock       &none                &out OUT_USB             &none                &none                &none                &none                &bootloader          &none
                                                                          &none                &none                    &none                &kp C_STOP           &kp C_PP             &kp C_MUTE
            >;
        };
        extra_1 {
                status = "reserved";
        };

        extra_2 {
                status = "reserved";
        };

        extra_3 {
                status = "reserved";
        };
    };
};